* {
  padding: 0;
  margin: 0;
  /* scrollbar-color:; */
  scrollbar-width: thin;
}

html,
body,
#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner {
  background-color: inherit;
}
::-webkit-scrollbar-thumb {
  background: rgba(115, 115, 115, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.other-cursor {
  background-color: yellow;
  border: 1px solid red;
}
